[Unit]
Description=temprec
#After=network-online.target
#Requires=network-online.target

[Service]
WorkingDirectory=/home/pi/temprec/
ExecStart=/home/pi/temprec/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

